/latex/proposal/proposal.fdb_latexmk
/latex/proposal/proposal.fls
/latex/proposal/proposal.log
/latex/proposal/proposal.pdf
/latex/proposal/proposal.synctex.gz
/latex/proposal/proposal.out
/latex/proposal/proposal.aux

/.python-version
/.DS_Store
/control/Copy_of_Controller.slx.r2023a
/latex/final/final.aux
/latex/final/final.fdb_latexmk
/latex/final/final.fls
/latex/final/final.log
/latex/final/final.synctex.gz
/latex/final/final.aux
/latex/final/final.fdb_latexmk
/latex/final/final.fls
/latex/final/final.log
/latex/final/final.synctex.gz
/latex/final/final.pdf
/latex/final/final.out

/latex/template/template.aux
/latex/template/template.fdb_latexmk
/latex/template/template.fls
/latex/template/template.log
/latex/template/template.synctex.gz
/latex/template/template.aux
/latex/template/template.fdb_latexmk
/latex/template/template.fls
/latex/template/template.log
/latex/template/template.synctex.gz
/latex/template/template.pdf
/latex/template/template.out